*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  line-height: 26px;
}
a,
span {
  display: inline-block;
}
a {
  font-family: inherit;
  text-decoration: none;
}
img {
  width: 100%;
  display: inline-block;
}

.parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 25%;
  grid-template-rows: 1fr 1fr 1fr 0.5fr;
}

.block-1 {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 4%;
  padding-left: 4%;

  .block-1-content {
    width: 32%;
    p {
      font-family: Montserrat, sans-serif;
      color: #9fa3a7;
      font-size: 12px;
      line-height: 20px;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    h3 {
      margin-top: 10px;
      margin-bottom: 20px;
      font-family: Arvo, sans-serif;
      font-size: 22px;
      line-height: 32px;
      font-weight: 400;
    }
    span {
      color: #9fa3a7;
    }
  }
  .block-1-image {
    grid-column-start: 2;
    margin-top: 40px;
    width: 40%;
    align-self: self-end;
    display: flex;
    img {
      display: inline-block;
    }
  }
}
.block-2 {
  grid-column: 3/5;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f8f9;
  text-align: center;

  p {
    font-family: Montserrat, sans-serif;
    color: #9fa3a7;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  h1 {
    font-family: Arvo, sans-serif;
    font-size: 48px;
    line-height: 60px;
    font-weight: 400;
    max-width: 550px;
  }
  a {
    color: #27b9c2;
    text-decoration: underline;
  }
}
.block-3 {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f05638;
  color: #fffbfb;
  text-align: center;

  .block-3-image {
    width: 249px;
  }

  h3 {
    max-width: 230px;
    margin-bottom: 0px;
    margin-top: 10px;
    font-family: Arvo, sans-serif;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
  }
  a {
    color: #ffc80a;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.4px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.block-4 {
  grid-column: 2/4;
  grid-row: 2/3;
  display: flex;
  justify-content: space-around;
  padding-top: 68px;
  padding-right: 4%;
  padding-left: 4%;

  .block-4-card {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 180px;
    justify-content: space-between;

    p {
      font-family: Montserrat, sans-serif;
      color: #9fa3a7;
      font-size: 12px;
      line-height: 20px;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    h3 {
      margin-top: 10px;
      margin-bottom: 20px;
      font-family: Arvo, sans-serif;
      font-size: 22px;
      line-height: 32px;
      font-weight: 400;
    }
    .block-4-card-image {
      position: relative;
      left: -160%;
      width: 250%;
      max-width: none;
      margin-top: 20px;
      display: flex;
    }
  }
  .block-4-content {
    width: 40%;

    p {
      color: #9fa3a7;
      line-height: 26px;
    }
    a {
      margin-top: 20px;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 2.4px;
      text-decoration: none;
      text-transform: uppercase;
      color: #27b9c2;
    }
  }
}
.block-5 {
  grid-column: 4/5;
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 5% 70px;
  background-color: #8f76bc;
  color: #fff;
  text-align: center;
  overflow: hidden;

  .block-5-card {
    display: flex;
    width: 373px;
    height: 373px;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    background-color: #8166b0;

    h4 {
      padding: 2px 13px 1px 30px;
      border-radius: 60px;
      background-color: hsla(0, 0%, 100%, 0.08);
      background-image: url(https://uploads-ssl.webflow.com/5bc242f45a5ed923b1704210/5bc2f42d5a5ed9663e707e7d_Shape.png);
      background-position: 11px 50%;
      background-size: 12px;
      background-repeat: no-repeat;
      font-size: 10px;
      line-height: 23px;
      font-weight: 700;
      letter-spacing: 2.4px;
    }
    img {
      position: relative;
      left: -8px;
      width: 239px;
      margin-top: 20px;
    }
    h3 {
      color: white;
    }
  }
  .block-5-content {
    width: 80%;
    max-width: 290px;
    h2 {
      font-size: 32px;
      line-height: 36px;
      margin-top: 20px;
    }
    a {
      margin-top: 30px;
      padding: 14px 28px;
      border-radius: 50px;
      background-color: #ffc80a;
      color: #000;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 2.4px;
      text-transform: uppercase;
    }
  }
}
.block-6 {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f8f9;

  .block-6-image {
    width: 248px;
    position: relative;
    left: -7%;
  }
  h3 {
    width: 54%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Arvo, sans-serif;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
  }
  a {
    margin-top: 20px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.4px;
    text-decoration: none;
    text-transform: uppercase;
    color: #27b9c2;
  }
}
.block-7 {
  grid-column: 2/4;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  background-color: #93b6b7;
  background-image: url(https://uploads-ssl.webflow.com/5bc242f45a5ed923b1704210/5bc2f42d5a5ed97dab707e7e_UX.png);
  background-position: 50% 100%;
  background-size: 80%;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;

  h4 {
    position: absolute;
    left: 30px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    background-color: #fa684f;
    font-size: 8px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 2px;
  }
  h3 {
    max-width: 280px;
    margin: auto;
    padding-top: 31px;
    padding-bottom: 31px;
    font-family: Arvo, sans-serif;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
  }
  .block-7-image {
    position: relative;
    left: -7%;
    width: 90%;
    display: flex;
  }
}
.block-8 {
  grid-column: 1/2;
  grid-row: 4/5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #38d5f4;
  color: #fff;

  .block-8-image {
    display: flex;
    width: 240px;
    height: 240px;
    padding-right: 34px;
    padding-left: 34px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #35cfed;
    text-align: center;

    img {
      width: 43.5px;
    }
    h3 {
      margin-top: 10px;
      margin-bottom: 20px;
      font-family: Arvo, sans-serif;
      font-size: 22px;
      line-height: 32px;
      font-weight: 400;
    }
  }
}

.block-9 {
  grid-column: 2/3;
  grid-row: 4/5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f8f9;
  h4 {
    background-color: #7bc424;
    color: #fff;
  }
  h3 {
    width: 70%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Arvo, sans-serif;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
  }
}
.block-10 {
  grid-column: 3/5;
  grid-row: 4/5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5%;
  padding-left: 5%;
  background-color: #2c2c2c;
  color: #fff;

  img {
    width: 271px;
    position: relative;
    left: -15%;
  }
  h3 {
    width: 34%;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Arvo, sans-serif;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
  }
}
